{
	"htmlWhitespaceSensitivity": "strict",
	"quoteProps": "as-needed",
	"arrowParens": "avoid",
	"trailingComma": "all",
	"bracketSpacing": true,
	"singleQuote": true,
	"printWidth": 100,
	"useTabs": true,
	"tabWidth": 4,
	"semi": false,
	"overrides": [
		{
			"files": ["tsconfig.json", "settings.json"],
			"options": {
				"parser": "jsonc"
			}
		}
	]
}
