@font-face {
	font-family: 'inconsolata';
	src: url('inconsolata/inconsolata.ttf') format('truetype');

	font-style: normal;
}

@font-face {
	font-family: 'alata';
	src: url('alata/alata.ttf') format('truetype');

	font-style: normal;
}

body {
	font-family: 'alata' !important;
}

code {
	font-family: 'inconsolata', 'Fira Code', monospace !important;
}

:root {
	--font-a: 'alata', sans-serif;
	--mono: 'inconsolata', 'Fira Code', monospace !important;
}
