@import '../src/lib/css/underline.scss';
@import '../src/lib/css/scrollbars.scss';
@import '../src/lib/css/theme.scss';

:root {
	--col: min(95vw, 700px);

	--border-radius: 5px;
	--shadow-lg: 0px 5px 15px 2px rgba(0, 0, 0, 0.2);
	--shadow-inset: 0 0 5px 0 #000 inset;
	--shadow-inset-b: 0 0 13px 0 #000a inset, 0 0 5px 0 #000a inset, 0 0 3px 1px #0009 inset;

	--span-padding: 0px 5px 2px 5px;
}

::selection {
	background: var(--brand-b);
	color: var(--bg-a);
}
::-moz-selection {
	background: var(--brand-b);
	color: var(--bg-a);
}

*:focus {
	outline-color: var(--brand-a);
}

body {
	background: var(--bg-a) !important;
	color: var(--fg-d);
}

a {
	text-decoration: underline;

	color: inherit;
}

button {
	width: max-content;
	margin: 0.5rem auto auto auto;
	padding: 5px 7px;

	font-size: 0.9rem;
	font-family: var(--font-c);
	font-variation-settings: 'wght' 300;

	color: var(--fg-a);
	border-radius: var(--border-radius);
	border: 1px solid var(--bg-d);

	background: var(--bg-a);

	&:hover {
		border-color: var(--fg-d);
	}

	&:active {
		border-color: var(--fg-d);
		background: var(--bg-b);
	}

	transition: 0.1s;
}

.code {
	min-width: fit-content;
	height: max-content;
	padding: 0.15rem 0.5rem 0.3rem 0.5rem;

	font-size: 0.8rem;
	font-family: var(--font-mono);

	color: var(--brand-a);
	border-radius: var(--border-radius);

	background: var(--bg-a);

	&.inline {
		display: inline-flex;

		padding: 1px 7px 3px 7px;
	}
}
